__pycache__/
*.bak
report.html
log.html
output.xml
*.pyc
.python-version
.tox
*.egg-info
build
dist
.idea
venv
.coverage
htmlcov
green-junit.xml
tests/resources/green-junit-example_robot_output.xml
example/results_robot_output.xml
example/results.json
.vscode
/result
